In [2]:
#firstname camel naming case
#firstName pascal naming case 
#first_name snake naming case

In [3]:
number1 = 10

In [4]:
print(number1)

10

In [5]:
print('hello world')

hello world

In [6]:
word1 = 'we\'re brothers from other side of town' #backward slash(\) denotes the escape character
print(word1)

we're brothers from other side of town

In [7]:
word = "we 're brothers from the other side of the town"
print(word1)

we're brothers from other side of town

In [8]:
word2 = "Hey python is fun,\nareyou not going to learn it,\nif so visit us at earlycode" #backward slash + N denotes new line
print (word2)

Hey python is fun,
areyou not going to learn it,
if so visit us at earlycode

In [9]:
word2 = """Hey python is fun,
reyou not going to learn it,
if so visit us at earlycode 
"""# """"""denotes new line
print (word2)

Hey python is fun,
reyou not going to learn it,
if so visit us at earlycode

In [11]:
course= "python class"
print("Hey welcome to", course)# joing of string and variable

Hey welcome to python class

In [12]:
print('hello'+' '+'world')# joing of string and string

hello world

In [13]:
firstname="Joel"
secondname="Sanni"
print(firstname, secondname)#joining of variable and variable

Joel Sanni

In [19]:
priceone =25000
pricetwo = 75000
pricethree = 7000
Report = "base on todays activities, i sold 5 pairs of shirt for {},also sold a suite for {},and a shoe for {}"
print(Report.format(priceone,pricetwo,pricethree))#Inject a variable inside string which is called string formating

base on todays activities, i sold 5 pairs of shirt for 25000,also sold a suite for 75000,and a shoe for 7000

In [20]:
print(f"base on todays activities, i sold 5 pairs of shirt for {priceone},also sold a suite for {pricetwo},and a shoe for {pricethree}")

base on todays activities, i sold 5 pairs of shirt for 25000,also sold a suite for 75000,and a shoe for 7000

In [21]:
word1 = "school"
word2 = "SCHOOL"
word3 = "python is fun"
word4 = "   info@gmail.com"

In [22]:
print(word1.upper())

SCHOOL

In [23]:
print(word2.lower())

school

In [24]:
print(word3.capitalize())

Python is fun

In [25]:
print(word3.title())

Python Is Fun

In [26]:
print(word3.split())

['python', 'is', 'fun']

In [28]:
print(word4.strip())#strip clears off white space either at the begining of at the end

info@gmail.com

In [29]:
num1 = 10
num2 = 120.2
word = 'simeon'
num3 = '5'

In [30]:
num1 = 15
num2 = 5
print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1*num2)
print(num1%num2)
print(num1//num2)
print(num1**num2)Arithmatic operators

20
10
3.0
75
0
3
759375

In [31]:
print(num1>num2)

True

In [33]:
print(num1<num2)
print(num1>=num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)# comparisim oprators

False
True
False
False
True

In [35]:
print(num1>num2 and num1<num2)
print(num1>num2 or num1<num2)
print(not num1)#logical operators

False
True
False

In [36]:
word5 = 'python'
print('p'in word5)

True

In [37]:
print('p' not in word5) #membership opertator

False

In [38]:
print(num1 is num2)
print(num1 is not num2)#Ioperatordentity

False
True

In [39]:
numbers = (2,5,2,8,9,2,6,2,9,8,9,2,3,6,5,2)

In [40]:
type(numbers)

tuple

In [41]:
len(numbers)

16

In [43]:
numbers[3]

8

In [44]:
numbers [3:10]

(8, 9, 2, 6, 2, 9, 8)

In [45]:
numbers [3:-6]

(8, 9, 2, 6, 2, 9, 8)

In [46]:
print(9 in numbers)

True

In [47]:
numbers.count(5)

2

In [48]:
numbers.index(5)

1

In [49]:
numbers.index(5,10,16)

14

In [50]:
fruit = ['Orange','Apple','Mango','Cashew', 'Pawpaw']

In [51]:
fruit.append('Gwava')# Append function
print(fruit)

['Orange', 'Apple', 'Mango', 'Cashew', 'Pawpaw', 'Gwava']

In [52]:
n_fruit = ('Orange','orange','orange','carrot','pineaple')
fruit.extend(n_fruit)
print(fruit) #Extend

['Orange', 'Apple', 'Mango', 'Cashew', 'Pawpaw', 'Gwava', 'Orange', 'orange', 'orange', 'carrot', 'pineaple']

In [53]:
fruit.insert(1,'pawapaw')
print(fruit) #Insert

['Orange', 'pawapaw', 'Apple', 'Mango', 'Cashew', 'Pawpaw', 'Gwava', 'Orange', 'orange', 'orange', 'carrot', 'pineaple']

In [55]:
fruit.sort()
print(fruit) #sort

['Apple', 'Cashew', 'Gwava', 'Mango', 'Orange', 'Orange', 'Pawpaw', 'carrot', 'orange', 'orange', 'pawapaw', 'pineaple']

In [57]:
fruit.reverse()
print(fruit)

['Apple', 'Cashew', 'Gwava', 'Mango', 'Orange', 'Orange', 'Pawpaw', 'carrot', 'orange', 'orange', 'pawapaw', 'pineaple']

In [60]:
fruit.pop()
print(fruit)

['Apple', 'Cashew', 'Gwava', 'Mango', 'Orange', 'Orange', 'Pawpaw', 'carrot', 'orange', 'orange', 'pawapaw']

In [61]:
fruit.remove('Gwava')
print(fruit)

['Apple', 'Cashew', 'Mango', 'Orange', 'Orange', 'Pawpaw', 'carrot', 'orange', 'orange', 'pawapaw']

In [62]:
D_fruit = fruit.copy()
print(D_fruit)

['Apple', 'Cashew', 'Mango', 'Orange', 'Orange', 'Pawpaw', 'carrot', 'orange', 'orange', 'pawapaw']

In [64]:
D_fruit.clear()
print(D_fruit)

[]

In [65]:
Del(D_fruit)
print(D_fruit)

NameError: name 'Del' is not defined

In [69]:
records = {
    'Name':'Simeon',
    'Gender':'Male',
    'Age': 25
}

In [70]:
records['Gender']

'Male'

In [72]:
records.keys()

dict_keys(['Name', 'Gender', 'Age'])

In [74]:
records.values()

dict_values(['Simeon', 'Male', 25])

In [75]:
records.items()

dict_items([('Name', 'Simeon'), ('Gender', 'Male'), ('Age', 25)])

# Conditional Stament

In [1]:
num = 10
if num <= 50:
    print('you are very correct')

you are very correct

In [3]:
num = 10
if num > 50:
    print('you are very correct')
else:
    print('operation is not correct')

operation is not correct

In [4]:
speed1 = 70
speed2 = int(input('Driver\'s speed:'))
if speed2 <= speed1:
    print('you are on track')
else:
    speed3 = (speed2 - speed1)// 5
    if speed3 <= 12:
        print(f'Hey are driving above the default speed bewarned and the extra point is {speed3}')
    else:
        print(f'Hey are driving above the default speed with an high extra point of {speed3}, you are hereby suspended')

Driver's speed:100
Hey are driving above the default speed bewarned and the extra point is 6

In [6]:
num = int(input('Enter number:'))
if num == 0:
    print('Number is zero')
elif num < 0:
    print('Number is negative')
else:
    print('number is positive')

Enter number:-5
Number is negative

In [8]:
print('WELCOME TO MADAMB\'S KITCHEN')
print('HOME OF DELICIOUS FOOD')
print('WE ARE ALWAYS AT YOUR SERVICE')
choice = int(input('please seat on any roll for desired meal to be served'))
if choice == 1:
    print('you will be served rice,plantain,beef or chicken, water and any drink of your choice')
elif choice == 2:
    print('you will be served pounded yam with any soup of your choice, beef or chicken or fish or cow head, water and any drink of your choice')
elif choice == 3:
    print('you will be served Amala with any soup of your choice, beef or chicken or fish or cow head, water and any drink of your choice')
elif choice == 4:
    print('you will be served any snacks of your choice,beef or chicken, water and any drink of your choice')
else:
    print('Invalid option')

WELCOME TO MADAMB'S KITCHEN
HOME OF DELICIOUS FOOD
WE ARE ALWAYS AT YOUR SERVICE
please seat on any roll for desired meal to be served5
Invalid option